[settings]
include_trailing_comma = true
known_first_party = ansiblelint
known_third_party = ansible,pytest,ruamel,setuptools,sphinx,yaml
# picked to match the current flake8 value:
line_length = 100
# https://github.com/timothycrosley/isort#multi-line-output-modes
multi_line_output = 5
use_parentheses = true
