---
repos:
- repo: local
  hooks:
  - id: immutable-setup-py
    name: Verify that setup.py stays immutable
    description: >-
      This is a sanity check that makes sure that
      the `setup.py` file isn't changed.
    # Using Python here because using
    # shell test does not seem to work in CIs:
    entry: >-
      sh -c 'git hash-object setup.py
      |
      python -c raise\ SystemExit\(input\(\)\ !=\ \"f6d1010b609cbe816d3ef652eee452d09d52979f\"\)
      '
    pass_filenames: false
    language: system
    files: >-
      ^setup\.py$
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v3.4.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: >
      (?x)^(
        examples/playbooks/(with-skip-tag-id|unicode).yml|
        examples/playbooks/example.yml
      )$
  - id: mixed-line-ending
  - id: check-byte-order-marker
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: debug-statements
    language_version: python3
- repo: https://github.com/codespell-project/codespell
  rev: v2.0.0
  hooks:
  - id: codespell
- repo: https://github.com/PyCQA/doc8
  rev: 0.9.0a1
  hooks:
  - id: doc8
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.26.0
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
    types: [file, yaml]
    entry: yamllint --strict
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.7.0
  hooks:
  - id: isort
    args:
    # https://github.com/pre-commit/mirrors-isort/issues/9#issuecomment-624404082
    - --filter-files
- repo: https://github.com/python/black.git
  rev: 20.8b1
  hooks:
  - id: black
    language_version: python3
- repo: https://gitlab.com/pycqa/flake8.git
  rev: 3.8.4
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-2020>=1.6.0
    # - flake8-black>=0.1.1
    - flake8-docstrings>=1.5.0
    - flake8-pytest-style>=1.2.2
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.800
  hooks:
  - id: mypy
    # empty args needed in order to match mypy cli behavior
    args: []
    additional_dependencies:
    - Sphinx>=3.1.2
    - enrich
    - flaky
    - yamllint
    - wcmatch
- repo: https://github.com/pre-commit/mirrors-pylint
  rev: v2.6.0
  hooks:
  - id: pylint
    # temporary workaround as pylint is not compatible with 3.9
    language_version: "3.8"
    additional_dependencies:
    - ansible-base
    - docutils
    - enrich
    - flaky
    - pytest
    - pyyaml
    - rich
    - ruamel.yaml
    - sphinx
    - wcmatch
