---
repos:
- repo: local
  hooks:
  - id: immutable-setup-py
    name: Verify that setup.py stays immutable
    description: >-
      This is a sanity check that makes sure that
      the `setup.py` file isn't changed.
    # Using Python here because using
    # shell test does not seem to work in CIs:
    entry: >-
      sh -c 'git hash-object setup.py
      |
      python -c raise\ SystemExit\(input\(\)\ !=\ \"b72e95ce049c4c67c6487a2171fec8d1b0b958b1\"\)
      '
    pass_filenames: false
    language: system
    files: >-
      ^setup\.py$
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v2.5.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: >
      (?x)^(
        test/(with-skip-tag-id|unicode).yml|
        examples/example.yml
      )$
  - id: mixed-line-ending
  - id: check-byte-order-marker
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: debug-statements
    language_version: python3
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.23.0
  hooks:
  - id: yamllint
    files: \.(yaml|yml)$
    types: [file, yaml]
    entry: yamllint --strict
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.0.8
  hooks:
  - id: isort
    args:
    # https://github.com/pre-commit/mirrors-isort/issues/9#issuecomment-624404082
    - --filter-files
- repo: https://gitlab.com/pycqa/flake8.git
  rev: 3.8.1
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-2020>=1.6.0
    - flake8-docstrings
    - flake8-pytest-style>=1.0.0
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.770
  hooks:
  - id: mypy
    # empty args needed in order to match mypy cli behavior
    args: []
    additional_dependencies:
    - Sphinx
- repo: https://github.com/pre-commit/mirrors-pylint
  rev: v2.5.3
  hooks:
  - id: pylint
