---
ci:
  # format compatible with commitlint
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: monthly
  autofix_commit_msg: |
    chore: auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  skip:
    # https://github.com/pre-commit-ci/issues/issues/55
    - pip-compile
    - pip-compile-upgrade
default_language_version:
  python: python3.9
exclude: >
  (?x)^(
    examples/broken/yaml-with-tabs/invalid-due-tabs.yaml
  )$
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    # keep it before yamllint
    rev: v3.0.0-alpha.0
    hooks:
      - id: prettier
        # Temporary excludes so we can gradually normalize the formatting
        exclude: >
          (?x)^(
            examples/other/some.j2.yaml|
            examples/playbooks/example.yml|
            examples/playbooks/multiline-brackets.*|
            examples/playbooks/templates/not-valid.yaml|
            examples/playbooks/with-umlaut-.*|
            examples/playbooks/with-skip-tag-id.yml|
            examples/yamllint/.*|
            test/fixtures/formatting-before/.*|
            src/ansiblelint/schemas/.*
          )$
        additional_dependencies:
          - prettier
          - prettier-plugin-toml
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.12.0
    hooks:
      - id: cspell
        # entry: codespell --relative
        args: [--relative, --no-progress, --no-summary]
        name: Spell check with cspell
  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.18.2
    hooks:
      - id: check-github-workflows
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
        # ignore formatting-prettier to have an accurate prettier comparison
        exclude: >
          (?x)^(
            test/eco/.*.result|
            examples/yamllint/.*|
            test/fixtures/formatting-before/.*|
            test/fixtures/formatting-prettier/.*
          )$
      - id: trailing-whitespace
        exclude: >
          (?x)^(
            examples/playbooks/(with-skip-tag-id|unicode).yml|
            examples/playbooks/example.yml|
            examples/yamllint/.*|
            test/eco/.*.result|
            test/fixtures/formatting-before/.*
          )$
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
      - id: codespell
        exclude: >
          (?x)^(
            src/ansiblelint/schemas/.*\.json
          )$
  - repo: https://github.com/PyCQA/doc8
    rev: v1.0.0
    hooks:
      - id: doc8
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
        exclude: >
          (?x)^(
            examples/playbooks/templates/.*|
            examples/yamllint/.*|
            examples/other/some.j2.yaml|
            test/fixtures/formatting-before/.*
          )$
        files: \.(yaml|yml)$
        types: [file, yaml]
        entry: yamllint --strict
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args:
          # https://github.com/pre-commit/mirrors-isort/issues/9#issuecomment-624404082
          - --filter-files
  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pycqa/flake8.git
    rev: 5.0.4
    hooks:
      - id: flake8
        language_version: python3
        additional_dependencies:
          - flake8-2020>=1.6.0
          # - flake8-black>=0.1.1
          - flake8-docstrings>=1.5.0
          - flake8-pytest-style>=1.2.2
          - flake8-future-annotations>=0.0.3
  - repo: https://github.com/asottile/pyupgrade
    # keep it after flake8
    rev: v2.38.2
    hooks:
      - id: pyupgrade
        args: ["--py38-plus"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.981
    hooks:
      - id: mypy
        # empty args needed in order to match mypy cli behavior
        args: [--strict]
        additional_dependencies:
          - ansible-compat>=2.2.0
          - ansible-core
          - black
          - filelock
          - flaky
          - pytest
          - rich>=11.0.0
          - ruamel.yaml
          - sphinx>=4.4.0
          - types-dataclasses
          - types-docutils
          - types-jsonschema>=4.4.2
          - types-pkg_resources
          - types-pyyaml>=6.0.4
          - wcmatch
          - yamllint
        exclude: >
          (?x)^(
            test/local-content/.*|
            plugins/.*
          )$
  - repo: https://github.com/pycqa/pylint
    rev: v2.15.3
    hooks:
      - id: pylint
        additional_dependencies:
          - ansible-compat>=2.2.0
          - ansible-core
          - black
          - docutils
          - filelock
          - flaky
          - jsonschema>=4.9.0
          - pytest
          - pyyaml
          - rich>=11.0.0
          - ruamel.yaml
          - sphinx
          - typing_extensions
          - wcmatch
          - yamllint
  - # keep at bottom as these are slower
    repo: local
    hooks:
      - id: pip-compile
        name: pip-compile
        entry: python3.9 -m piptools compile -q --no-annotate --output-file=requirements.txt setup.cfg --extra docs --extra test --strip-extras --unsafe-package ansible-core
        language: system
        files: ^(setup\.cfg|=constraints\.txt)$
        pass_filenames: false
        stages: [manual]
      - id: pip-compile-upgrade
        name: pip-compile-upgrade
        entry: python3.9 -m piptools compile -q --upgrade --no-annotate --output-file=requirements.txt setup.cfg --extra docs --extra test --strip-extras --unsafe-package ansible-core
        language: system
        files: ^(setup\.cfg|=constraints\.txt)$
        pass_filenames: false
        stages: [manual]
