---
repos:
- repo: local
  hooks:
  - id: immutable-setup-py
    name: Verify that setup.py stays immutable
    description: >-
      This is a sanity check that makes sure that
      the `setup.py` file isn't changed.
    # Using Python here because using
    # shell test does not seem to work in CIs:
    entry: >-
      sh -c 'git hash-object setup.py
      |
      python -c raise\ SystemExit\(input\(\)\ !=\ \"b72e95ce049c4c67c6487a2171fec8d1b0b958b1\"\)
      '
    pass_filenames: false
    language: system
    files: >-
      ^setup\.py$
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v2.4.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: >
      (?x)^(
        test/(with-skip-tag-id|unicode).yml|
        examples/example.yml
      )$
  - id: mixed-line-ending
  - id: check-byte-order-marker
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: debug-statements
    language_version: python3
- repo: https://gitlab.com/pycqa/flake8.git
  rev: 3.7.9
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-docstrings
