[IMPORTS]
preferred-modules =
    unittest:pytest,

[MESSAGES CONTROL]

disable =
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    bad-continuation,
    broad-except,
    consider-using-in,
    dangerous-default-value,
    duplicate-code,
    fixme,
    import-error,
    inconsistent-return-statements,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-continue,
    no-else-return,
    no-member,
    no-self-use,
    not-callable,
    protected-access,
    raise-missing-from,
    redefined-builtin,
    redefined-outer-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-return-statements,
    unused-argument,
    unused-variable,
    useless-object-inheritance,
    wrong-import-order,
