[IMPORTS]
preferred-modules =
    unittest:pytest,

[MASTER]
# pylint defaults + f,fh,v,id
good-names =i,j,k,ex,Run,_,f,fh,v,id,T

[MESSAGES CONTROL]

disable =
    # On purpose disabled as we rely on black
    line-too-long,
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    consider-using-f-string,
    dangerous-default-value,
    duplicate-code,
    fixme,
    inconsistent-return-statements,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-member,
    no-self-use,
    not-callable,
    protected-access,
    too-few-public-methods,
    too-many-branches,
    too-many-instance-attributes,
    too-many-return-statements,
    unused-argument,
    unspecified-encoding,
