---
rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments:
    # prettier compatibility
    min-spaces-from-content: 1
  comments-indentation: false
  document-start:
    present: true
  key-duplicates:
    forbid-duplicated-merge-keys: true
  indentation:
    level: error
    indent-sequences: consistent
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  # quoted-strings:
  #   quote-type: double
  #   required: only-when-needed
ignore: |
  .tox
  examples/playbooks/example.yml
  examples/playbooks/syntax-error-string.yml
  examples/playbooks/vars/not_decryptable.yml
  test/schemas/negative_test/**/*.yml
  test/schemas/test/**/*.yml

# ignore added because this file includes on-purpose errors
