rules:
  document-start: disable
  indentation:
    level: error
    indent-sequences: consistent
ignore: |
  .tox
  examples/playbooks/example.yml
# ignore added because this file includes on-purpose errors
