#!/usr/bin/env pip-compile -q --allow-unsafe --output-file=test-requirements.txt
# Avoid using --generate-hashes as it breaks pip install from tox with:
# ERROR: In --require-hashes mode, all requirements must have their versions pinned with ==. These do not:
#    ansible<2.10,>=2.9 from
flaky >= 3.7.0
pytest >= 6.0.1
pytest-cov >= 2.10.1
pytest-xdist >= 2.1.0
psutil  # soft-dep of pytest-xdist
# Needed to avoid DeprecationWarning errors in pytest:
setuptools >= 49.6.0
