---
- name: Fixture
  hosts: localhost
  vars:
    varset: varset
  tasks:
    - block:
        - include_tasks: tasks/nestedincludes.yml
        - block:
            # - include_tasks: "{{ varnotset }}.yml"
            - block:
                - ansible.builtin.include: "{{ varset }}.yml"
                - block:
                    - ansible.builtin.include_tasks: tasks/directory with spaces/main.yml
