- hosts: localhost
  roles:
    - mocked_role
    - fake_namespace.fake_collection.fake_role
  tasks:
    - name: some task
      zuul_return: {}
    - name: mocked module from collection
      fake_namespace.fake_collection.fake_module: {}
