myst-parser >= 0.16.1
pipdeptree >= 2.2.1
sphinx >= 4.4.0
sphinx-ansible-theme >= 0.9.1
sphinx-rtd-theme >= 1.0.0, < 2.0.0 # 1.0.0 broke rendering
sphinxcontrib-apidoc >= 0.3.0
sphinxcontrib-programoutput2 >= 2.0a1

