black # IDE support
coverage-enable-subprocess # see https://github.com/nedbat/coveragepy/issues/1341#issuecomment-1228942657
coverage[toml] >= 6.4.4
jmespath
mypy # IDE support
netaddr # needed by ipwrap filter
psutil # soft-dep of pytest-xdist
pylint # IDE support
pytest >= 7.2.2
pytest-mock
pytest-plus >= 0.2 # for PYTEST_REQPASS
pytest-xdist >= 2.1.0
ruamel-yaml-clib  # needed for mypy
spdx-tools >= 0.7.1 # Apache
types-jsonschema # IDE support
types-pyyaml # IDE support
