black # IDE support
coverage-enable-subprocess # see https://github.com/nedbat/coveragepy/issues/1341#issuecomment-1228942657
coverage[toml] >= 6.4.4
ipdb
ipython
jmespath
license-expression >= 30.3.0 # Apache 2.0
mypy # IDE support
netaddr # needed by ipwrap filter
pip # tox command
psutil # soft-dep of pytest-xdist
pylint # IDE support
pytest >= 7.2.2
pytest-instafail >= 0.5.0 # only for local development, via PYTEST_ADDOPTS=-edit
pytest-mock
pytest-plus >= 0.6
pytest-sugar  # shows failures immediately, even with xdist
pytest-xdist[psutil,setproctitle] >= 2.1.0
ruamel-yaml-clib  # needed for mypy
ruamel.yaml>=0.18.11
tox >= 4.0.0
tox-extra>=2.1
tox-uv>=1.25
tox>=4.24.2
types-jsonschema # IDE support
types-pyyaml # IDE support
