black # IDE support
coverage-enable-subprocess # see https://github.com/nedbat/coveragepy/issues/1341#issuecomment-1228942657
coverage[toml] >= 6.4.4
jmespath
license-expression >= 30.3.0 # Apache 2.0
mypy # IDE support
netaddr # needed by ipwrap filter
psutil # soft-dep of pytest-xdist
pylint # IDE support
pytest >= 7.2.2
pytest-mock
pytest-plus >= 0.6 # for PYTEST_REQPASS
pytest-xdist >= 2.1.0
ruamel.yaml>=0.17.31
ruamel-yaml-clib  # needed for mypy
tox >= 4.0.0
types-jsonschema # IDE support
types-pyyaml # IDE support
