ansible-core>=2.12.2  # needed by rules_table_generator
myst-parser>=0.16.1
pipdeptree>=2.2.1
pytest>=6.2.5,<7.0.0  # 7.0.0 dropped support for py36
sphinx>=4.4.0
sphinx-ansible-theme>=0.9.1
sphinx-rtd-theme>=0.5.2,<1.0.0   # 1.0.0 broke rendering
sphinxcontrib-apidoc>=0.3.0
sphinxcontrib-programoutput2>=2.0a1
yamllint>=1.26.3
