/* table width fix via: https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */

/* override table width restrictions */
@media screen and (min-width: 767px) {
  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
 *          this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }
}

.icon-home {
  display: none !important;
}

/* Avoid using the red text for tt blocks */
.rst-content code.literal,
.rst-content tt.literal {
  color: #888888 !important;
}
