---
name: release

"on":
  release:
    types: [published]
  workflow_dispatch:

jobs:
  # https://github.com/marketplace/actions/actions-tagger
  actions-tagger:
    needs: pypi # do not move the mobile tag until we publish
    runs-on: windows-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission.
      # https://github.blog/changelog/2023-02-02-github-actions-updating-the-default-github_token-permissions-to-read-only/
      contents: write
    steps:
      - uses: Actions-R-Us/actions-tagger@latest
        with:
          token: "${{ github.token }}"
          # Do not activate latest tag because it seems to affect RTD builds
          # publish_latest_tag: true
  pypi:
    name: Publish to PyPI registry
    environment: release
    runs-on: ubuntu-22.04
    permissions:
      id-token: write

    env:
      FORCE_COLOR: 1
      PY_COLORS: 1
      TOXENV: pkg

    steps:
      - name: Switch to using Python 3.10 by default
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install tox
        run: python3 -m pip install --user "tox>=4.0.0"

      - name: Check out src from Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # needed by setuptools-scm
          submodules: true

      - name: Build dists
        run: python3 -m tox

      - name: Publish to pypi.org
        if: >- # "create" workflows run separately from "push" & "pull_request"
          github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1
