---
# cspell:ignore mislav
name: release

"on":
  release:
    types: [published]
  workflow_dispatch:

jobs:
  # https://github.com/marketplace/actions/actions-tagger
  actions-tagger:
    runs-on: windows-latest
    steps:
      - uses: Actions-R-Us/actions-tagger@latest
        env:
          GITHUB_TOKEN: "${{ github.token }}"
  pypi:
    name: Publish to PyPI registry
    environment: release
    runs-on: ubuntu-22.04
    permissions:
      id-token: write

    env:
      FORCE_COLOR: 1
      PY_COLORS: 1
      TOXENV: pkg

    steps:
      - name: Switch to using Python 3.9 by default
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install tox
        run: python3 -m pip install --user "tox>=4.0.0"

      - name: Check out src from Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # needed by setuptools-scm
          submodules: true

      - name: Build dists
        run: python -m tox

      - name: Publish to pypi.org
        if: >- # "create" workflows run separately from "push" & "pull_request"
          github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1

  homebrew:
    name: Bump homebrew formula
    environment: release
    runs-on: ubuntu-22.04
    needs: pypi

    env:
      FORCE_COLOR: 1
      PY_COLORS: 1
      TOXENV: pkg

    steps:
      - name: Check out src from Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # needed by setuptools-scm
          submodules: true

      - name: Bump homebrew formula
        uses: mislav/bump-homebrew-formula-action@v3.0
        with:
          # A PR will be sent to github.com/Homebrew/homebrew-core to update this formula:
          formula-name: ansible-lint
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
